header {
  background-color: #ff00ff;
}

h1 {
  text-align: center;
  font-family: cursive;
}

h2 {
  color: #ff00ff;

}

section {
  background-color: #00ff00;
}

nav {
  color: #00ff00;
  background-color: #ff00ff;
  text-align: center;
}

img {
  /* display: inline-block;
  display: table-cell;
  height: 10%;
  width: 33%;  */
  visibility: hidden;
  display: none;
}
